{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href=" {{ url_for('static', filename='css/mermaid.css') }} ">

    <main>
        <h2>Let's generate your Roadmap</h2>
        <span>Powered by AI</span>
        
        <form>
            <input type="text", id="userQuery", name="prompt", placeholder="Explain your roadmap here" required>
            <button id="generate" type="submit">Generate</button>
        </form>

        <div id="status"></div>

        <pre id="defaultDiagram" class="mermaid">
            graph TD
            A[Start] --> B[Choose a Topic]
            B --> C[Learn Basics]
            B --> D[Explore Advanced Topics]
            C --> E[Do Projects]
            D --> E
            E --> F[Mastery]
        </pre>
        
        <div id="diagram" style="display: none;">
            <div id="diagramBtn">
                <button id="downloadBtn">⬇️ Download</button>
                <img id="shareBtn" src="{{ url_for('static', filename='resources/share.png')}}" title="Share link">
            </div>

            <div id="diagram_wrapper">
                <div id="diagram_content"></div>  
            </div>
        </div>
    </main>
    
    <script type="module" src="{{ url_for('static', filename='js/mermaid.js') }}"></script>
{% endblock %}