body {
    margin: 0;
    padding: 0;
    position: relative;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: burlywood;
}

nav>ul {
    display: flex;
    padding: 0;
    justify-content: space-evenly;
}

.section{
    min-height: 90vh;
    width: 100%;
    background-color: brown;
}
main{
    margin-top: 70px;
}