{% extends 'base.html' %}


{% block content %}

<link rel="stylesheet" href= "{{ url_for('static', filename='homepage_style.css') }}">

{% with messages = get_flashed_messages() %}
{% if messages %}
    <script>
        var msg = {{messages|tojson}};
        alert(msg);
    </script>
{% endif %}
{% endwith %}

<header>
    <a href="#">About Us</a>
    <a href="#">Services</a>
    <div id="logout">
        <form action="{{ url_for('logout') }}" method="POST">
            <button type="submit">Logout</button>
        </form>
    </div>
</header>

<main>
    <div class="content">

        <div class="content_options">
            <button class="option_buttons" id="recommend_courses">Suggest courses</button>
        </div>

        <div class="content_options">
            <form action=" {{ url_for('home') }}" method="POST">
                <button type="submit" name="action" value="codemirror" class="option_buttons" id="code_platform">Let's code</button>
            </form>
        </div>

    </div>
</main>




{% endblock %}
